*{
    /* background-color: black; */
    padding:0;margin:0;
    /* color:white; */
}
.nav{
    height:100vh;
    margin:auto;
    background-color: whitesmoke;
    color: orange;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aside .head{
    position:relative;
    margin:5rem;
}
.aside h1{
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color:orangered;
}
.aside .head::before{
    content:'';
    position:absolute;
    width:20px;
    height:20px;
    border-bottom: 0.4rem solid orangered;
    border-left: 0.4rem solid orangered;
    bottom:-20px;
    left:20px;
}
.aside .head::after{
    content:'';
    position:absolute;
    width:20px;
    height:20px;
    border-top: 0.4rem solid orangered;
    border-right: 0.4rem solid orangered;
    right:20px;
    top:-20px;
}
.aside{
    position:fixed;
    top:0;left:0;
    background-color: rgb(91, 87, 87);
    background-color: white;
    width:20vw;
    height:100vh;
    color: orangered;
}

.nav-item{
    margin-bottom:2rem;
    padding-bottom:0.5rem;
    border-bottom:1px solid rgb(208, 169, 169);
list-style: none;
}
.nav-item a{
    /* list-style:none; */
    margin-left:10px;
    font-size:1.5rem;
    text-decoration:none;
    color:orangered;
}
.nav-item li {
    /* margin-right:1rem;
     */
     padding:10px;
}
.content .about--{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(43, 134, 226);
}
.mainContent{
    /* position:absolute; */
    /* top:0;left:20vw; */
    padding-left:20vw;
    width:100%;
    /* height:100vh; */
}
#home{
    /* padding: 5rem 0; */
    margin:2rem;
    /* background-color: black; */
    height:100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#home .content{
font-size: 1.5rem;
/* font-family: 'Yeon Sung', cursive; */
width:40vw;
/* font-family: 'ZCOOL QingKe HuangYou', sans-serif; */
}
#home .content h1{
    font-size: 2rem;
    font-weight: bolder;
    color:rgb(43, 134, 226);
}
#home .content h1 p{
    color: aqua;
}
#home .content h1 strong{
    color:rgb(18, 72, 126);
    font-family:cursive;
}
.profession{
    margin:1.5rem;
    margin-left:0;
}
#typing{
    color:red;
}
.hire-me{
    margin:2rem;
    text-align: center;
    margin-left:0;
    /* width:7rem; */
    /* display:block; */
    font-size: 1rem;
    border-radius: 2.5rem;
    background-color: crimson;
    color: white;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
a{
    text-decoration: none;
}
.buttons a:hover{
    color:white;
}
.bio .buttons{
    margin:0;
}
.hire-me:hover{
    transform: scale(1.05);
}
#home .image::after{
    content:'';
    position:absolute;
    width:70px;
    height:70px;
    border-bottom: 5px solid orangered;
    border-right: 5px solid orangered;
    right:-20px;
    bottom:-20px;
}
#home .image::before{
    content:'';
    position:absolute;
    width:70px;
    height:70px;
    border-top: 5px solid orangered;
    border-left: 5px solid orangered;
    top:-20px;
    left:-20px;
}
.buttons{
    margin:2rem;
}
#home .image{
    position:relative;
    /* text-align: center; */
    /* flex: 0 0 40%; */
    /* max-width: 40%; */
    height:45vh;
    width:20vw;
    margin:2rem;
}
#home .image img{
    height:100%;
    width:100%;
}

.hidden{
    display:none !important;
}
.bio{
    margin-left:1rem;
    max-width: 40%;
    /* background-color: red; */
    flex:0 0 40%;
}

.skills{
    max-width: 40%;
    /* margin-left:1rem;
     */
     height:100%;
     width:40%;
     /* margin:auto; */
    /* background-color: red; */
    flex:0 0 40%;
    /* text-align:center; */
}
#about-me{
    /* width:100%; */
    margin:4rem;
    height:100vh;
    /* margin:2rem; */
    /* margin-left:0; */
}
.bio-item{
    /* display:flex; */
    /* margin:1rem; */
    width:50%;
    /* flex: 0 0 50%; */
    /* max-width:50%; */
    /* margin-right:0rem; */
    /* font-size: 1.2rem; */
    border-bottom:2px solid rgb(170, 170, 170);
font-size: large;
    display:inline-block;
    /* position:relative; */
    padding:1rem;
    /* font-weight: bolder; */
    /* padding:1rem; */
}
.further{
    display:flex;
    justify-content: space-evenly;
    /* align-items: center; */
width:100%;
}
.skill-item{
    /* height:25%; */
    position:relative;
    /* margin:2rem; */
}
.progress{
    /* margin:1rem; */
    position:relative;
}
#home{
    width:100%;
}
.bio-item ::before
{
    content:'';
    position:absolute;
     background-color:black;
    bottom:0.5rem;
    left:0;
    width:50%;

}.head2{
    /* text-align: center; */
    font-size: 3rem;
    width:100%;
    margin:4.5rem auto;
    position: relative;
    /* margin-left: 7rem; */
    color:orangered;
} 
.head2::before{
position:absolute;
content:'';
bottom:-5px;
left:0px;
height:4px;
width:100px;
background-color:red;
}
.percent{
    position:absolute;
    right:0;
}
.head2::after{
    position:absolute;
    content:'';
    bottom:-10px;
    left:0px;
    height:4px;
    width:200px;
    background-color:red;
    }
.information{

    /* font-size: 1.5rem; */
    width:75vw;
    margin:1.5rem auto;
    /* margin-left: 7rem; */
    /* color:orangered; */
}
.progress-in{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background-color: red;
}
.information{
    box-sizing: border-box;
}
.information p{
    width:100%;
    margin:2rem 0;
}
#portfolio{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:orangered;
margin:4rem;
margin-top:5rem;
height:100vh;
}
/* #portfolio h1{
    font-size: 4rem;

} */
/* #portfolio .heading{
    position:relative;
}
#portfolio .heading ::before{
    content:'';
    position:absolute;
    width:10%;
    height:0.4rem;
    background-color: orangered;
/* border-bottom:2px solid red; 
    bottom:-1rem;
    left:0;
}
#portfolio .heading ::after{
    content:'';
    position:absolute;
    width:20%;
    height:0.4rem;
    background-color: orangered;
border-bottom:2px solid red; 
    bottom:-2rem;
    left:0;
}
*/
.projects{
    width:70vw;
    height:100%;
    margin: 5rem auto;
}
.project-item{
    width:50%;
    height:50%;
    padding:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-item span{
    font-size: 2rem;
}
.project-item img{
    height:80%;
    width:80%;
    text-align:center;
    margin-bottom:1rem;
}
#education{
    margin:5rem;
    margin-top:10rem;
    /* height:100%; */
    width:60%;
}
.edu-container{
    /* height:80%; */
    position: relative;
    width:60vw;
    height:100%;
    background-color:rgb(245, 238, 229);
    margin:2.5rem 2rem;
    /* box-shadow: inset; */
    padding:1rem;
    border-radius: 3rem;
}
.information p{
    font-size: 1.3rem;
    width:100%;
}
.edu-item{
    padding: 4rem;
    /* padding:3rem; */
    font-size: 1.2rem;
    font-weight: bolder;
    height:33%;
    width:100%;
}

.edu-container::before{
    content:'';
    position:absolute;
    top:0;
    left:2rem;
    height:100%;
    width:0.1rem;
    background-color:orangered;
}
.edu-title{
    font-size: 1.5rem;
    font-weight: bolder;
    color:orangered;
    font-size: large;
    position: relative;
    /* margin-bottom:1rem; */
}
.edu-title::before{
    content:'';
    position:absolute;
    top:0;
    left:-3.4rem;
    height:1rem;
    width:1rem;
    border-radius: 1rem;
    background-color: orangered;
}
.bio .buttons{
    height:20%;
}
.bio .personal{
    height:80%;
}
.date{
    margin-bottom: 1rem;
    color:coral;
}
.date i{
    margin-right:0.5rem;
}

@media(max-width: 1385px) {
    .aside{
        display:none;
    }
        .mainContent{
            width:100vw;
            margin:0;
        }
        .section{
            width:100vw;
            margin:0;
        }
        .further{
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height:70%;
        }
       
    
}
.section{
    margin-bottom:5vh;
}
.skills{
    margin-left:5rem;
}
.head2{
    width:100%;
    /* height:10%; */
}
.information{
    width:100%;
    /* height:20%; */
}
.further{
    width:100%;
    /* height:70%; */
}







